/* Generales */

:root {
    --green: rgb(0, 173, 145);
    --dark: #3f3f3f;
}

/* Header */

header {
    padding: 2em 0;
}

#logo {
    max-width: 200px;
}

/* Nav General */

.nav-item {
    letter-spacing: 2px;
}

nav .navbar-nav .nav-link.active {
    color: var(--green);
}

nav {
    border-bottom: 1px solid var(--green);
}


/* Nav Collapsed */

.navbar-brand {
    font-weight: 700;
}

.navbar-brand img {
    margin-right: 0.5em;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 173, 145, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem var(--green);
} 

/* Nav Expanded*/

@media screen and (min-width: 768px) {

    .nav-link {
        margin: 0 2em;
    }
}

/* Main General */

main p, main h2 {
    color: rgba(0, 0, 0, 0.7);
}

main h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30%;
    padding-top: 1em;
    border-bottom: 5px solid var(--green);
}

@media screen and (min-width: 768px) {

    main h2::after {
        width: 15%;
    }
}






/* Somos */


.main-img {
    max-width: 500px;
    margin: auto;
}

main h2 {
    padding: 2rem 0;
}

/* Envios */

#envios {
    background-color: rgba(0, 175, 145, 0.1);
}


/* Cat치logo */

#catalogo figure {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#catalogo figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#catalogo figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Contacto */

#contacto {
    background-color: rgba(0, 175, 145, 0.1);
}

#contacto h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1em 0;
}

#contacto a {
    text-transform: uppercase;
    font-size: 120%;
    border: 2px solid var(--green);
    color: var(--green);
    margin: 1em;
    padding: 1em;
    font-weight: 600;
    letter-spacing: 1px;
}

#contacto a:hover{
    background-color: var(--green);
    color: #ffff;
}

/* Calificaci칩n */

#calificacion h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1em 0;
}


#calificacion button {
    text-transform: uppercase;
    font-size: 120%;
    border: none;
    color: white;
    margin: 1em;
    padding: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0.375em;
    background: var(--green);
    border: 2px solid var(--green);

}

#calificacion button:hover {
    background-color: rgba(0, 175, 145, 0.1);
    color: var(--green);
}


#calificacion input[type="text" i]{
    padding: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    border-bottom: 2px solid var(--green);
}

#calificacion input[type="text" i]::placeholder{
    font-size: 1rem;
    font-weight: 300;
}


#calificacion input[type="text" i]:focus-visible {
    outline: none;
}

#result {
    font-size: 120%;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    margin: 1em;
}

#numresult {
    font-size: 120%;    
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1em;
}


/* Footer */

footer {
    background-color: #3f3f3f;
    color: white;
    letter-spacing: 1px;
    font-weight: 200;
}

#year {
    margin-top: 2em;
    color: var(--green);
    font-weight: 700;
}

footer ul .list-group-item {
    background-color: var(--dark);
    border: 0;
    color: white;
}

/* Formulario */

#formulario button {
    text-transform: uppercase;
    font-size: 120%;
    border: 2px solid var(--green);
    color: var(--green);
    padding: 0.5em;
    margin-bottom: 2em;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Mapa */

#mapa {
    background-color: rgba(0, 175, 145, 0.1);
}

#mapa iframe {
    margin-top: 2em;
}

/* Estilos JQuery Range Slider */

#rangeslider {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

#rangeslider input {
    width: 70%;
}


#inputrange output {
    font-weight: 700;
    color: var(--dark);
}


/* Animaciones con JS */

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
  
  .js-scroll.scrolled {
    opacity: 1;
  }
  
  .scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
  }
  
  .scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
  }
  
  
  .scrolled.slide-right {
    animation: slide-in-right 1.5s ease-in-out both;
  }
  .scrolled.slide-left {
    animation: slide-in-left 1.5s ease-in-out both;
  }
  
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* Borrar animaci칩n para texto cat치logo */
  
@media screen and (min-width: 1200px) { 

    #catalogo h2::after { /* corre la linea en XL hacia start*/
        margin: 0;
    }
    @keyframes slide-in-left {
        0% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
    }
}