/* Generales */

:root {
    --green: rgb(0, 173, 145);
    --dark: #3f3f3f;
}

/* Header */

header {
    padding: 2em 0;
}

#logo {
    max-width: 200px;
}

/* Nav General */

.nav-item {
    letter-spacing: 2px;
}

nav .navbar-nav .nav-link.active {
    color: var(--green);
}

nav {
    border-bottom: 1px solid var(--green);
}


/* Nav Collapsed */

.navbar-brand {
    font-weight: 700;
}

.navbar-brand img {
    margin-right: 0.5em;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 173, 145, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem var(--green);
} 

/* Nav Expanded*/

@media screen and (min-width: 768px) {

    .nav-link {
        margin: 0 2em;
    }
}

/* Main General */

main p, main h2 {
    color: rgba(0, 0, 0, 0.7);
}

main h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30%;
    padding-top: 1em;
    border-bottom: 5px solid var(--green);
}

@media screen and (min-width: 768px) {

    main h2::after {
        width: 15%;
    }
}


@media screen and (min-width: 1200px) { 

    #catalogo h2::after { /* corre la linea en XL hacia start*/
        margin: 0;
    }
}




/* Somos */


.main-img {
    max-width: 500px;
    margin: auto;
}

main h2 {
    padding: 2rem 0;
}

/* Envios */

#envios {
    background-color: rgba(0, 175, 145, 0.1);
}


/* Catálogo */

#catalogo figure {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#catalogo figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#catalogo figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Contacto */

#contacto {
    background-color: rgba(0, 175, 145, 0.1);
}

#contacto h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1em 0;
}

#contacto a {
    text-transform: uppercase;
    font-size: 120%;
    border: 2px solid var(--green);
    color: var(--green);
    margin: 1em;
    padding: 1em;
    font-weight: 600;
    letter-spacing: 1px;
}

#contacto a:hover{
    background-color: var(--green);
    color: #ffff;
}

/* Calificación */

#calificacion h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1em 0;
}


#calificacion button {
    text-transform: uppercase;
    font-size: 120%;
    border: none;
    color: white;
    margin: 1em;
    padding: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0.375em;
    background: var(--green);
    border: 2px solid var(--green);

}

#calificacion button:hover {
    background-color: rgba(0, 175, 145, 0.1);
    color: var(--green);
}


#calificacion input[type="text" i]{
    padding: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    border-bottom: 2px solid var(--green);
}

#calificacion input[type="text" i]::placeholder{
    font-size: 1rem;
    font-weight: 300;
}


#calificacion input[type="text" i]:focus-visible {
    outline: none;
}

#result {
    font-size: 120%;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    margin: 1em;
}

#numresult {
    font-size: 120%;    
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1em;
}


/* Footer */

footer {
    background-color: #3f3f3f;
    color: white;
    letter-spacing: 1px;
    font-weight: 200;
}

#year {
    margin-top: 2em;
    color: var(--green);
    font-weight: 700;
}

footer ul .list-group-item {
    background-color: var(--dark);
    border: 0;
    color: white;
}

/* Formulario */

#formulario button {
    text-transform: uppercase;
    font-size: 120%;
    border: 2px solid var(--green);
    color: var(--green);
    padding: 0.5em;
    margin-bottom: 2em;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Mapa */

#mapa {
    background-color: rgba(0, 175, 145, 0.1);
}

#mapa iframe {
    margin-top: 2em;
}

/* Estilos JQuery Range Slider */


#inputrange .ui-rangeslider .ui-rangeslider-sliders {
    position: relative;
    overflow: visible;
    margin: 0;
}

#inputrange .ui-rangeslider .ui-rangeslider-sliders .ui-slider-track:first-child {
    height: 15px;
    border-width: 1px;
}

#inputrange .ui-rangeslider .ui-rangeslider-sliders .ui-slider-track {
    position: absolute;
    top: 6px;
    right: 0;
    left: 0;
    margin: 0;
}

.ui-page-theme-a .ui-bar-inherit {
    background: rgba(0, 173, 145, 0.5);
}

#inputrange .ui-slider-track.ui-corner-all {
    border-radius: 0.3125em;
}

/* Rango Handler */

#inputrange .ui-btn.ui-btn-b {
    background-color: #333;
    border-color: #1f1f1f;
    color: #fff;
    text-shadow: 0 1px 0 #111;
}

#inputrange .ui-slider-track .ui-btn.ui-slider-handle {
    position: absolute;
    top: 50%;
    width: 28px;
    height: 28px;
    margin: -15px 0 0 -15px;
    outline: 0;
    padding: 0;
    border-radius: 100%;
}

/* Handler Numerico */

#inputrange .ui-rangeslider .ui-slider-input.ui-rangeslider-last {
    float: right;
}

#inputrange .ui-body-b {
    border: none;
    color: var(--dark);
}

#inputrange input.ui-slider-input {
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin: 0 -70px 0 0;
    padding: 4px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid var(--green);
    outline: 0;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
